<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CPC - Analise Comparativa</title>
    <link rel="stylesheet" href="static/bootstrap.css">
    <style>
        .container {
            padding-top: 20px;
        }
        .box {
            margin-bottom: 20px;
        }
        .input-style {
            padding: .375rem .75rem;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            display: block;
            width: 100%;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            font-size: 1rem;
            line-height: 1.5;
        }
        .red-text {
            color: red;
        }

        .blue-text {
            color: blue;
        }
    </style>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Formulário de Carros</h1>

                <!-- Um único formulário para ambos os carros -->
                <form action="/analisar-comparativo" method="post">
                    <!-- Seção para o primeiro carro -->
                    <h2>Carro 1</h2>
                    <div class="form-group">
                        <label for="carModel1">Modelo do Carro 1:</label>
                        <select name="carModel1" id="carModel1" class="form-control">
                            <!-- Opções de modelo de carro -->
                            <option value="Fiat">Fiat</option>
                            <!-- Adicione mais opções conforme necessário -->
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="modelo1">Nome do Carro 1:</label>
                        <select name="modelo1" id="modelo1" class="form-control" onchange="updateCarYearModel(this.value, 1)">
                            {% for modelo in modelos %}
                            <option value="{{ modelo }}">{{ modelo }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="ano_modelo1">Ano do Modelo 1:</label>
                        <select name="ano_modelo1" id="ano_modelo1" class="form-control">
                            <option value=""></option>
                        </select>
                    </div>

                    <!-- Espaçamento entre os carros -->
                    <hr>

                    <!-- Seção para o segundo carro -->
                    <h2>Carro 2</h2>
                    <div class="form-group">
                        <label for="carModel2">Modelo do Carro 2:</label>
                        <select name="carModel2" id="carModel2" class="form-control">
                            <option value="Fiat">Fiat</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="modelo2">Nome do Carro 2:</label>
                        <select name="modelo2" id="modelo2" class="form-control" onchange="updateCarYearModel(this.value, 2)">
                            {% for modelo in modelos %}
                            <option value="{{ modelo }}">{{ modelo }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="ano_modelo2">Ano do Modelo 2:</label>
                        <select name="ano_modelo2" id="ano_modelo2" class="form-control">
                            <option value=""></option>
                        </select>
                    </div>

                    <!-- Botão de envio para ambos os carros -->
                    <input type="submit" value="Enviar" class="btn btn-primary">
                </form>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="static/script.js"></script>
</body>
</html>